@if (IsShow)
{
    <div class="modal cp confirm @PopupConent @ActiveCss">
        <div class="modal-background" @onclick="Close"></div>
        <div class="modal-content  @ModalConent">
            <div class="box radius-20">
                @if (ChildContent is null)
                {
                    <p class="fc-6">Are you sure do you want to continue?</p>
                }
                else
                {
                    @ChildContent
                }

            <div class="cta-wp mt-20 text-right @ButtonsContainer">
                @if (Agreed.HasDelegate)
                {
                    <button type="button" class="button fw-6 @YesBtnClass @IsLoadingBtn() " @onclick="Continue" disabled="@IsLoading">
                        @AgreedText
                    </button>
                }
                @if (NoOption.HasDelegate)
                {
                    <button type="button" class="button cst-text @NoBtnClass" @onclick="No">@NotAgreedText</button>
                }
                @if (ClosePopup.HasDelegate)
                {
                    <button type="button" class="button cst-text @CancelBtnClass" @onclick="Close">@CancelText</button>
                }
            </div>
            </div>
        </div>
    </div>
}